<% include ../partials/head.ejs %>
    <title>Manager</title>
    </head>
    <body>
        <% include ../partials/navbar.ejs %>
            <div class="d-flex mb-5" id="wrapper">
                <div class="container-fluid">
                    <div class="row mt-2  justify-content-around">
                        <div class="col-12">
                            <!-- Create Quiz -->
                            <form class="form-inline" method="POST">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="quizName" class="form-label mr-1">Quiz Title</label>
                                    <input id="quizName" type="text" name="name">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="quizDesc" class="form-label mr-1">Quiz Description</label>
                                    <input id="quizDesc" type="text" name="description">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                <select class="form-control" name="category">
                                    <!-- loop all categories -->
                                    <!-- for(int i = 0; i < allCategories.length; i++){} -->
                                    <% allCategories.forEach(function(item){ %>
                                        <option value='<%= item._id %>'>
                                            <%= item.name %>
                                        </option>
                                    <% }) %>
                                </select>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <select class="form-control" name="subCategory">
                                <% allSubCategories.forEach(function(item){ %>
                                    <option value='<%= item._id %>'>
                                        <%= item.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-success ml-5 mb-2" value="Add"></a>
                    </div>
                </div>

                <div class="row justify-content-around mt-4">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Statement</th>
                                    <th scope="col">type</th>
                                    <th scope="col">choice 1</th>
                                    <th scope="col">choice 2</th>
                                    <th scope="col">choice 3</th>
                                    <th scope="col">choice 4</th>
                                    <th scope="col">correct answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i <5 ; i++) {%>
                                    <tr>
                                        <th scope="row">
                                            <%= i+1 %>
                                        </th>
                                        <td><textarea name="Statement"></textarea></td>
                                        <td>
                                            <select class="form-control" name="type">
                                                <!-- <option>True - False</option> -->
                                                <option>MCQ</option>
                                            </select>
                                        </td>
                                        <td><input type="text" name="optionA"></td>
                                        <td><input type="text" name="optionB"></td>
                                        <td><input type="text" name="optionC"></td>
                                        <td><input type="text" name="optionD"></td>
                                        <td>
                                            <select class="form-control" name="answer">
                                                <option value="0">choice 1</option>
                                                <option value="1">choice 2</option>
                                                <option value="2">choice 3</option>
                                                <option value="3">choice 4</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <% }%>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <!-- <% include ../partials/footer.ejs %> -->
        </body>
    </html>