<% include ../partials/head.ejs %>
    <title>Manager</title>
    </head>

    <body>
        <% include ../partials/navbar.ejs %>
            <div class="d-flex" id="wrapper">
                <div class="container-fluid">
                    <div class="row mt-2 justify-content-around">
                        <div class="col-12">
                            <!-- Create Quiz -->
                            <form class="form-inline" method="POST">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="quizName" class="form-label mr-1">Quiz Title</label>
                                    <input id="quizName" type="text" name="name">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="quizDesc" class="form-label mr-1">Quiz Description</label>
                                    <input id="quizDesc" type="text" name="description">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <select class="form-control" id="categorySelect" name="category">
                                        <!-- loop all categories -->
                                        <!-- for(int i = 0; i < allCategories.length; i++){} -->
                                        <% allCategories.forEach(function(item){ %>
                                            <option value='<%= item._id %>'>
                                                <%= item.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <select class="form-control" id="subCategorySelect" name="subCategory">
                                        <% allSubCategories.forEach(function(item){ %>
                                            <option value='<%= item._id %>' data-category='<%= item.category %>'>
                                                <%= item.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <input type="submit" class="btn btn-success ml-5 mb-2" value="Add"></a>
                        </div>
                    </div>

                    <div class="row justify-content-around mt-4">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th style="width: 60px;" scope="col">#</th>
                                        <th scope="col">Statement</th>
                                        <th style="width: 170px;" scope="col">type</th>
                                        <th scope="col">choices</th>
                                        <th style="width: 170px;" scope="col">correct answer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i <5 ; i++) {%>
                                        <tr>
                                            <th scope="row">
                                                <%= i+1 %>
                                            </th>
                                            <td><textarea class="w-100" name="Statement" rows="7"></textarea></td>
                                            <td>
                                                <select class="form-control" name="type">
                                                    <!-- <option>True - False</option> -->
                                                    <option>MCQ</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="form-group row">
                                                    <label for="optionA" class="col-sm-1 col-form-label">A</label>
                                                    <div class="col-sm-11">
                                                        <input class="form-control" type="text" name="optionA">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="optionB" class="col-sm-1 col-form-label">B</label>
                                                    <div class="col-sm-11">
                                                        <input class="form-control" type="text" name="optionB">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="optionC" class="col-sm-1 col-form-label">C</label>
                                                    <div class="col-sm-11">
                                                        <input class="form-control" type="text" name="optionC">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label for="optionD" class="col-sm-1 col-form-label">D</label>
                                                    <div class="col-sm-11">
                                                        <input class="form-control" type="text" name="optionD">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" name="answer">
                                                    <option value="0">choice 1</option>
                                                    <option value="1">choice 2</option>
                                                    <option value="2">choice 3</option>
                                                    <option value="3">choice 4</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <% }%>
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#wrapper -->


            <script>
                $('#categorySelect').val([]);
                $('#subCategorySelect').val([]);
                $('#subCategorySelect option').each(function () {
                    $(this).css('display', 'none');
                });

                $('#categorySelect').change(function () {
                    $('#subCategorySelect').val([]);
                    $('#subCategorySelect option').each(function () {
                        if ($(this).data('category') == $('#categorySelect').val()) {
                            $(this).css('display', 'block');
                        }
                        else {
                            $(this).css('display', 'none');
                        }
                    });
                });
            </script>
    </body>

    </html>